* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
}

.header {
  height: 100vh;
  background-image: url("../images/main-bg.png");
  background-size: cover;
  background-position: center;
  padding: 0.1rem;
}
.header__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20rem auto 0;
  text-align: center;
}
.header__heading span {
  color: white;
  font-size: 0.9rem;
  text-transform: uppercase;
  opacity: 0.9;
  letter-spacing: 0.1rem;
}
.header__heading h1 {
  color: white;
  font-size: 3.5rem;
  margin-top: 0.75rem;
  font-weight: 600;
}

@media (max-width: 750px) {
  .header__heading span {
    font-size: 0.75rem;
  }
  .header__heading h1 {
    width: 20rem;
    margin-top: 0;
  }
}
.welcome {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.welcome__image {
  flex: 1;
}
.welcome__image img {
  width: 100%;
}
.welcome__info {
  flex: 1;
}
.welcome__info h3 {
  font-size: 2.2rem;
  font-weight: 500;
}
.welcome__info span {
  color: #0E9AA9;
  font-size: 0.75rem;
  margin: 0.75rem 0 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.welcome__info p {
  font-size: 1.1rem;
  color: black;
  opacity: 0.75;
  line-height: 1.85rem;
}
.welcome__info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
}
.welcome__button {
  display: inline-block;
  margin-top: 3rem;
  text-decoration: none;
  color: white;
  background-color: #0E9AA9;
  font-size: 1rem;
  padding: 1.1rem 1.3rem;
  border-radius: 10rem;
}

.watch {
  background-color: #F5F5F5;
  height: 40rem;
}
.watch__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 75rem;
  margin: 0 auto;
  height: 100%;
}
.watch__media {
  position: relative;
  height: 100%;
  width: 35rem;
}
.watch__media .video {
  position: absolute;
  left: 0;
  top: 8rem;
  z-index: 3;
  height: 23rem;
  border-radius: 0.25rem;
}
.watch__media .image {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 21rem;
  right: -1rem;
  z-index: 11;
  height: 13rem;
  border: 0.55rem solid #F5F5F5;
}
.watch__info {
  width: 31rem;
}
.watch__info h3 {
  font-size: 2.2rem;
  font-weight: 500;
}
.watch__info .line {
  height: 0.01rem;
  background-color: black;
  width: 6rem;
  margin: 0.5rem 0 2rem;
}
.watch__info p {
  color: black;
  opacity: 0.65;
  font-size: 1rem;
  line-height: 1.8rem;
}
.watch__info .button {
  color: #0E9AA9;
  text-decoration: none;
  font-size: 1.1rem;
  display: inline-block;
  margin-top: 1.33rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
}

.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0.1rem;
}
.pricing h2 {
  font-size: 2.2rem;
  font-weight: 500;
  margin: 3rem 0 0;
}
.pricing .line {
  height: 0.01rem;
  width: 6rem;
  background-color: black;
  margin: 0.85rem 0 0;
}
.pricing__list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  width: 70rem;
  margin: 5rem 0 5rem;
}
.pricing__listItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 23%;
  height: 28rem;
  border: 0.01rem solid gray;
}
.pricing__listItem h4 {
  width: 65%;
  font-size: 1.33rem;
  font-weight: 500;
  text-align: center;
  margin-top: 2rem;
}
.pricing__listItem h3 {
  font-size: 2.2rem;
  font-weight: 500;
  margin: 1.75rem 0;
}
.pricing__listItem span {
  font-size: 1rem;
  margin-bottom: 0.75rem;
  width: 65%;
  text-align: center;
  opacity: 0.85;
}
.pricing__listItem a {
  display: inline-block;
  margin-top: 2rem;
  text-decoration: none;
  color: white;
  background-color: #0E9AA9;
  border-radius: 5rem;
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0.75rem 1.33rem;
}
.pricing .first {
  background-color: #0E9AA9;
  color: white;
  border-color: #0E9AA9;
}
.pricing .first a {
  border: 0.1rem solid white;
  color: white;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.features h2 {
  font-size: 2.2rem;
  font-weight: 500;
  margin: 3rem 0 0;
}
.features .line {
  height: 0.01rem;
  width: 6rem;
  background-color: black;
  margin: 0.85rem 0 0;
}
.features__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  list-style: none;
  margin: 4rem 0 5rem;
  width: 70rem;
}
.features__listItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  width: 22%;
}
.features__listItem img {
  width: 4.4rem;
}
.features__listItem h4 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0.75rem 0 0.5rem;
}
.features__listItem p {
  font-size: 0.9rem;
  opacity: 0.85;
  line-height: 1.5rem;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.gallery h2 {
  font-size: 2.2rem;
  font-weight: 500;
  margin: 3rem 0 0;
}
.gallery .line {
  height: 0.01rem;
  width: 6rem;
  background-color: black;
  margin: 0.85rem 0 0;
}
.gallery__list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 5rem 0;
}
.gallery__listItem {
  width: 33.33%;
  overflow: hidden;
}
.gallery__listItem img {
  width: 100%;
  transform: scale(1.1);
  transition: all 0.3s;
}
.gallery__listItem img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.events {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.events h2 {
  font-size: 2.2rem;
  font-weight: 500;
  margin: 3rem 0 0;
}
.events .line {
  height: 0.01rem;
  width: 6rem;
  background-color: black;
  margin: 0.85rem 0 0;
}
.events__list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  width: 65rem;
  margin: 5rem 0;
}
.events__listItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 28.5%;
}
.events__listItem img {
  width: 100%;
}
.events__listItem h4 {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 1rem 0 0.22rem;
}
.events__listItem span {
  margin-bottom: 0.75rem;
  font-size: 0.9rem;
}
.events__listItem h5 {
  display: inline;
  color: #0E9AA9;
  font-weight: 500;
  font-size: 0.95rem;
}
.events__listItem p {
  font-size: 1rem;
  opacity: 0.85;
  line-height: 1.75rem;
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #F5F5F5;
}
.reviews h2 {
  font-size: 2.2rem;
  font-weight: 500;
  margin: 7rem 0 0;
}
.reviews .line {
  height: 0.01rem;
  width: 6rem;
  background-color: black;
  margin: 0.85rem 0 0;
}
.reviews__list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0;
  list-style: none;
  margin: 5rem 0 7rem;
  width: 65rem;
}
.reviews__listItem {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 47%;
}
.reviews__listItem img {
  width: 5rem;
}
.reviews__listItem span {
  margin-left: 1rem;
}
.reviews__listItem h4 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.reviews__listItem p {
  font-size: 0.9rem;
  color: #111;
  opacity: 0.5rem;
  line-height: 1.55rem;
}

.footer {
  background-color: #333;
  padding: 0.1rem;
}
.footer__wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 45rem;
  margin: 3rem auto 5rem;
}
.footer .quickMenu__list, .footer .ministries__list, .footer .social-media__list {
  list-style: none;
  padding: 0;
}
.footer .social-media__list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer .social-media__listItem {
  margin-right: 0.75rem;
}
.footer .social-media__list img {
  width: 1rem;
}
.footer .quickMenu__listItem, .footer .ministries__listItem, .footer .social-media__listItem {
  margin-bottom: 1rem;
}
.footer .quickMenu__listItem a, .footer .ministries__listItem a, .footer .social-media__listItem a {
  text-decoration: none;
  font-size: 0.9rem;
  color: #999;
  font-weight: 600;
}
.footer h4 {
  font-size: 1.3rem;
  margin-bottom: 1.2rem;
  font-weight: 500;
  color: white;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 5.5rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 500;
  transition: all 0.3s;
}
.navigation__logo {
  text-decoration: none;
  color: white;
  font-size: 1.75rem;
}
.navigation img {
  width: 2rem;
  display: none;
}
.navigation img:hover {
  cursor: pointer;
}
.navigation .mobile-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navigation .dropdown-menu {
  background-color: white;
  position: fixed;
  height: 100vh;
  top: 0;
  right: -3rem;
  transition: all 0.3s;
  width: 0.1rem;
  z-index: 1001;
}
.navigation .backdrop {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: none;
  opacity: 0.75;
}
.navigation__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 70rem;
  max-width: 90%;
  margin: 0 auto;
}
.navigation__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navigation__listItem {
  list-style: none;
  margin-left: 2rem;
}
.navigation__listItem a {
  text-decoration: none;
  font-size: 1rem;
  color: white;
  opacity: 0.8;
  letter-spacing: 0.1rem;
}

@media (max-width: 925px) {
  .navigation img {
    display: inline-block;
  }
  .navigation .mobile-nav {
    width: 100%;
  }
  .navigation__list {
    display: none;
  }
}

/*# sourceMappingURL=index.css.map */
