.navigation {
    @include displayFlex(row, center, center);
    height: 5.5rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: all .3s;

    &__logo {
        text-decoration: none;
        color: white;
        font-size: 1.75rem;
    }

    &__wrapper {
        @include displayFlex(row, center, space-between);
        width: 70rem;
        max-width: 90%;
        margin: 0 auto;
    }

    &__list {
        @include displayFlex(row, center, center);
    }

    &__listItem {
        list-style: none;
        margin-left: 2rem;
        
        a {
            text-decoration: none;
            font-size: 1rem;
            color: white;
            opacity: .8;
            letter-spacing: .1rem;
        }
    }
}