.navigation {
    @include displayFlex(row, center, center);
    height: 5.5rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 500;
    transition: all .3s;

    &__logo {
        text-decoration: none;
        color: white;
        font-size: 1.75rem;
    }

    img {
        width: 2rem;
        display: none;

        &:hover {
            cursor: pointer;
        }
    }

    .mobile-nav {
        @include displayFlex(row, center, space-between);
    }

    .dropdown-menu {
        background-color: white;
        position: fixed;
        height: 100vh;
        top: 0;
        right: -3rem;
        transition: all .3s;
        width: .1rem;
        z-index: 1001;
    }

    .close-icon {
        width: 1.2rem;
        position: fixed;
        top: 2.2rem;
        right: 1.5rem;
        display: none;
        z-index: 1005;
    }

    .backdrop {
        background-color: rgba(0,0,0, .75);
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1000;
        display: none;
        opacity: .75;
    }

    &__wrapper {
        @include displayFlex(row, center, space-between);
        width: 70rem;
        max-width: 90%;
        margin: 0 auto;
    }

    &__list {
        @include displayFlex(row, center, center);
    }

    &__listItem {
        list-style: none;
        margin-left: 2rem;
        
        a {
            text-decoration: none;
            font-size: 1rem;
            color: white;
            opacity: .8;
            letter-spacing: .1rem;
        }
    }
}

// media queries
@media(max-width: 925px) {
    .navigation {
        img {
            display: inline-block;
        }

        .mobile-nav {
            width: 100%;
        }

        &__list {
            display: flex;
            flex-direction: column;
            position: fixed;
            top: 5rem;
            right: 8rem;
            align-items: flex-start;
            z-index: 1005;
            display: none;

            &Item {
                margin-bottom: 2rem;

                a {
                    font-size: 1.1rem;
                    color: black;
                    font-weight: 600;
                }
            }
        }
    }
}