.header {
    height: 100vh;
    background-image: url("../images/main-bg.png");
    background-size: cover;
    background-position: center;

    &__heading {
        margin: 17.5rem auto 0;
        text-align: center;

        span {
            color: white;
            font-size: .9rem;
            text-transform: uppercase;
            opacity: .9;
            letter-spacing: .1rem;
        }

        h1 {
            color: white;
            font-size: 3.5rem;
            margin-top: .75rem;
            font-weight: 600;
        }
    }
}