.header {
    height: 100vh;
    background-image: url("../images/main-bg.png");
    background-size: cover;
    background-position: center;
    padding: .1rem;

    &__heading {
        @include displayFlex(column, center, center);
        margin: 20rem auto 0;
        text-align: center;

        span {
            color: white;
            font-size: .9rem;
            text-transform: uppercase;
            opacity: .9;
            letter-spacing: .1rem;
        }

        h1 {
            color: white;
            font-size: 3.5rem;
            margin-top: .75rem;
            font-weight: 600;
        }
    }
}

// media queries
@media(max-width: 750px) {
    .header__heading {
        margin-top: 17.5rem;

        span {
            font-size: .75rem;
        }

        h1 {
            width: 20rem;
            margin-top: 0;
        }
    }
}